/* ini style css */

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url(https://i.pinimg.com/736x/0e/7d/c8/0e7dc8eff6e981935db0d99f3c8297d1.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}

nav>a {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-image {
    border: 1px solid;
    height: 600px;
    background-image: url(https://i.pinimg.com/736x/50/c5/6d/50c56d00ce98a39cb6a43a6031513e5b.jpg);
    background-size: cover;
    background-position: center;
}

.content {
    height: 500px;
}

footer {
    text-align: center;
}